.biographyWrapper {
  max-width: 900px;
  min-height: 700px;
  margin-top: 100px;
}

.bioText {
  font-size: 1.1rem;
  line-height: 1.6;
  white-space: pre-line; // чтобы переносы из строки сохранялись
}

/* Можно добавить адаптивные стили, если нужно */
